<!--  ./views/index.handlebars -->
<div class="container p-5">
  <div class="col-12 my-5">
    <h1 class="text-center">你想對誰說幹話？</h1>
  </div>
  <div class="row">
    <!-- form -->
    <form action="/trashtalk" method="POST">
      <!-- options -->
      <div class="d-flex justify-content-center">
        <!-- card: engineer -->
        <div class="card col-4 mx-2 p-3" style="max-width: 20rem;">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            class="card-img-top" alt="engineer" style="height: 18rem; object-fit: cover;">
          <div class="card-body text-center">
            <div class="form-check form-check-inline" style="font-size: 1.5em;">
              <input class="form-check-input" type="radio" name="target" id="engineer" value="engineer">
              <label class="form-check-label" for="engineer">工程師</label>
            </div>
          </div>
        </div>
        <!-- card: designer -->
        <div class="card col-4 mx-2 p-3" style="max-width: 20rem;">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            class="card-img-top" alt="designer" style="height: 18rem; object-fit: cover;">
          <div class="card-body text-center">
            <div class="form-check form-check-inline" style="font-size: 1.5em;">
              <input class="form-check-input" type="radio" name="target" id="designer" value="designer">
              <label class="form-check-label" for="designer">設計師</label>
            </div>
          </div>
        </div>
        <!-- card: entrepreneur -->
        <div class="card col-4 mx-2 p-3" style="max-width: 20rem;">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            class="card-img-top" alt="entrepreneur" style="height: 18rem; object-fit: cover;">
          <div class="card-body text-center">
            <div class="form-check form-check-inline" style="font-size: 1.5em;">
              <input class="form-check-input" type="radio" name="target" id="entrepreneur" value="entrepreneur">
              <label class="form-check-label" for="entrepreneur">創業家</label>
            </div>
          </div>
        </div>
      </div>
      <!-- trash talk -->
      <div class="row my-5 mx-2">
        <div class="col-md-2">
          <button class="btn btn-danger" type="submit" style="font-size: 1.5em;">產生幹話</button>
        </div>
        <div class="col-md-10">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
            {{trashTalk}}
          </textarea>
        </div>
      </div>
    </form>
  </div>
</div>